/* Estilo general del cuerpo */
html, body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}
    /* Estilos para los colores de la celda de estado */
    .estado-pendiente {
        background-color: yellow;
    }

    .estado-denegado {
        background-color: red;
        color: white;
    }

    .estado-aprobado {
        background-color: green;
        color: white;
    }
/* Encabezado */
header, #header {
    background-color: rgba(190, 237, 254, 0.404);
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

/* Ajustes de las imágenes para ocupar el alto máximo */
#headerimages img {
    max-height: 75px;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 10px;
}

/* Ajustes del ministerio y talento humano para evitar colapso */
#ministerio, #talentohumano {
    flex: 1;
    padding: 10px;
    text-align: center;
}

/* Ajustes en pantallas pequeñas (móviles) */
@media (min-width: 768px) and (max-width: 1024px) {
    #ministerio, #talentohumano {
        font-size: large;
        width: 100%;
        text-align: center;
    }

    #headerimages {
        text-align: center;
        width: 100%;
    }

    #headerimages img {
        margin: 5px;
        max-height: 50px;
    }

    #header {
        padding: 5px 0;
    }
}

/* Estilo para el contenedor de los módulos */
.contenedor-modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

/* Espacio entre los bloques de módulos */
.contenedor-modulos .modulos {
    margin-bottom: 30px;
}

.modulos {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 300px;
}

.modulo {
    background-color: #00796b;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s;
}

.modulo:hover {
    background-color: #004d40;
}

/* Colores de los bloques modulares */
#permisos .modulo {
    background-color: limegreen;
    color: white;
}

#responsables .modulo {
    background-color: orange;
    color: white;
}

#gestion .modulo {
    background-color: cornflowerblue;
}

#administrativo .modulo {
    background-color: white;
}

/* Hover de los bloques modulares */
#permisos .modulo:hover {
    background-color: green;
}

#responsables .modulo:hover {
    background-color: darkorange;
}

#gestion .modulo:hover {
    background-color: blue;
}

#administrativo .modulo:hover {
    background-color: gainsboro;
}

/* Estilo para el formulario */
form {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    color: #333;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="date"],
input[type="time"],
input[type="file"],
select,
textarea {
    width: -webkit-fill-available;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    resize: vertical;
}

textarea {
    min-height: 75px; 
}



/* Estilo para los botones */
button, .boton, input[type="submit"].boton, .confirm {
    width: 100%;
    padding: 0.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover, input[type="submit"].boton:hover {
    background-color: #45a049;
}

/* Estilo para las tablas */
table {
    font-size: 0.8em;
    width: 100%; /* Ocupa el 100% del contenedor */
    table-layout: fixed; /* Fija el ancho de la tabla */
    border-collapse: collapse; /* Opcional: para un diseño más compacto */
}

table td, table th {
    width: auto; /* O un valor fijo, como 100px */
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px; /* Espaciado interno */
    border: 1px solid #ddd; /* Borde para las celdas */

}

table .tablelabel {
    width: 30%;
    font-weight: bold;
}

table .tablecontent {
    width: 70%;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Estilo para las etiquetas */
label {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}


input[type="file"] {
    color: black;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#horaServidor {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

/* Estilo para el pie de página */
footer, footer#footer {
    background-color: rgba(190, 237, 254, 0.404);
    color: black;
    text-align: center;
    padding: 15px 0;
    position:inherit;
    width: 100%;
    bottom: 0;
}

/* Estilo para el mensaje de confirmación */
.alerta {
    background-color: #f44336;
    color: white;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
}

.alerta.success {
    background-color: #4CAF50;
}

/* Estilo para el mensaje de éxito */
.success {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

/* Estilo para enlaces con clase "btn" */
a {
    display: inline-block;
    width: auto;
    background-color: #4CAF50;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

a:hover {
    background-color: #45a049;
}

/* Estilo para el contenedor de login */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
}

/* Estilo para los grupos de formulario */
.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Enlace para restablecer contraseña */
p a {
    color: #4CAF50;
    background-color: white;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
    background-color: #45a049;
    color: white;
}


td input[type="file"],
td button {
    width: 100%;
    height: 100%;
    box-sizing:content-box;
    font-size: 0.9em;

}

td input[type="file"] {
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
}

td input[type="file"]::file-selector-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

td input[type="file"]::file-selector-button:hover {
    background-color: #45a049;
}

td a {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

td a:hover {
    background-color: #45a049;
}

.confirm:hover {
            background-color: darkgreen;
        }

        .cancel:hover {
            background-color: darkred;
        } 

                /* Botones con estilo diferente para aceptar y rechazar */
        .confirm {
            background-color: green;
            color: white;
            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .cancel {
            background-color: red;
            color: white;
            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }